<!doctype html>
<html lang="en">
<head>
    <%- include ("../head.ejs") %>
</head>
<body>
<%- include ("../nav.ejs") %>
<div class="container">
    <form action="/categories/create" method="post">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Name</label>
            <input name="name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Slug</label>
            <input name="slug" type="text" class="form-control" id="exampleFormControlInput1" placeholder="slug">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>

    </form>
</div>
</body>
</html>





